# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter repo-specific
/bin/cache/
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
pubspec_overrides.yaml

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/example/android/**/gradle-wrapper.jar
**/example/android/.gradle
**/example/android/captures/
**/example/android/gradlew
**/example/android/gradlew.bat
**/example/android/local.properties
**/example/android/**/GeneratedPluginRegistrant.java
**/example/android/key.properties
*.jks

# iOS/XCode related
**/example/ios/**/*.mode1v3
**/example/ios/**/*.mode2v3
**/example/ios/**/*.moved-aside
**/example/ios/**/*.pbxuser
**/example/ios/**/*.perspectivev3
**/example/ios/**/*sync/
**/example/ios/**/.sconsign.dblite
**/example/ios/**/.tags*
**/example/ios/**/.vagrant/
**/example/ios/**/DerivedData/
**/example/ios/**/Icon?
**/example/ios/**/Pods/
**/example/ios/**/.symlinks/
**/example/ios/**/profile
**/example/ios/**/xcuserdata
**/example/ios/.generated/
**/example/ios/Flutter/App.framework
**/example/ios/Flutter/Flutter.framework
**/example/ios/Flutter/Flutter.podspec
**/example/ios/Flutter/Generated.xcconfig
**/example/ios/Flutter/app.flx
**/example/ios/Flutter/app.zip
**/example/ios/Flutter/flutter_assets/
**/example/ios/Flutter/flutter_export_environment.sh
**/example/ios/ServiceDefinitions.json
**/example/ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages